# --- BACKEND (Python) ---
backend/venv/
backend/__pycache__/
backend/.env

# --- FRONTEND (Flutter) ---
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies